/*-- scss:defaults --*/

// colors
$primary:       #31374b !default;
$secondary:     #fbd8da !default;
$success:       #20c997 !default;
$info:          #6f42c1 !default;
$warning:       #e36209 !default;
$danger:        #572455 !default;
$light:         #64748b !default;
$dark:          #1e293b !default;


/*extra colors*/
/* $primary:       #007a79 !default; or "#008080"*/
/* $danger:        #d73a49 !default; */
/* $success:       #20c997!default; */